header {
  display: flex;
  padding: 0 20px;
  background-color: rgb(0, 165, 25);
  color: white;
  border: 1px solid red;
}

.btn {
  background-color: grey;
}

.search-btn {
  display: flex;
  align-items: center;
}

#searchBox {
  border: 1px solid red;
}

#searchFilters {
  display: flex;
  border: 1px solid red;
}

#favorites {
  border: 1px solid red;
}

#dataDisplay {
  border: 1px solid red;
}
