* {
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 0 20px;
  background-color: rgb(0, 165, 25);
  color: white;
  border: 1px solid red;
}

.btn {
  background-color: grey;
}

.search-btn {
  display: flex;
  align-items: center;
}

#searchBox {
  border: 1px solid red;
}

#searchFilters {
  display: flex;
  padding: 20px 100px 20px 0;
  border: 1px solid red;
}

#favorites {
  border: 1px solid red;
}

#dataDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 70px 20px 0;
  border: 1px solid red;
}

/* set this attribute in javascript when dynamically created */
.recipe-card {
  margin: 20px;
}

.calories {
  display: flex;
  flex-direction: row;
}
